{% extends "locked/servers/servers_base.html" %}

{% block styles %}
{{ super() }}
<style>
    div#messages {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 90%;
    }

    div#messagebox-wrapper {
        position: relative;
        height: 10%;
        top: 90%;
    }

    div#messagebox-wrapper-visible {
        background-color: var(--spec-el-color);
        position: absolute;
        bottom: 15%;
        left: 2.5%;
        width: 95%;
        min-height: 70%;
        height: max-content;
        border-radius: 15px / 15px;
    }

    span#messagebox {
        position: absolute;
        outline: none;
        padding: none;
        border: none;
        margin: 0;
        top: 25%;
        bottom: 25%;
        left: 2.5%;
        height: 50%;
        width: 95%;
        resize: none;
    }

    /*input#messagebox {
        position: absolute;
        width: 95%;
        padding: 0;
        border: none;
        margin: 0;
        border-radius: 50px / 50px;
        height: 100%;
    }*/
</style>
{% endblock %}

{% block content %}
<div id="messages">

</div>
<div id="messagebox-wrapper">
    <div id="messagebox-wrapper-visible">
        <span id="messagebox" contenteditable></span>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
let mbox = document.querySelector('#messagebox-wrapper')
function isOverflown(element) {
  return element.scrollHeight > element.clientHeight || element.scrollWidth > element.clientWidth;
}

mbox.addEventListener('paste', function(e) {
    e.preventDefault()
    mbox.querySelector('#messagebox').innerHTML += e.clipboardData.getData('text')
})

setInterval(function() {
    console.log('e')
    if (isOverflown(mbox)) {
        handleMessageBoxOverflow()
    }
}, 100)

function handleMessageBoxOverflow() {
    
}
</script>
{% endblock %}