{% extends "locked/base.html" %}

{% block styles %}
<style>
div#topbar a#newfriend {
    color: green;
    text-decoration: none;
    left: 80%;
    padding: 0.1%;
    position: absolute;
    top: 15%;
}
a#newfriend:hover {
    color:black !important;
    background: green;
    border-radius: 7px;
}
div#topbar a#pendingfriends {
    color: var(--disc-color);
    text-decoration: none;
    left: 70%;
    padding: 0.1%;
    position: absolute;
    top: 15%;
}

a#pendingfriends:hover {
    color: var(--text-color) !important;
    background: var(--background-color);
    border-radius: 7px;
}
</style>
{% endblock %}

{% block topbar %}
<a href="/me/friends/new" id="newfriend">Add Friend</a>
<a href="/me/friends/pending" id="pendingfriends">Pending</a>
{% endblock %}

